.container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

/* .image {
  flex-grow: 2;
} */

/* .form {
  width: 100%;
} */

.upload {
  /* display: flex; */
  /* flex-direction: column; */
  /* padding-top: 55px; */
}

.counterparties {
  padding-top: 55px;
}
