.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: var(--white-color);
  margin-bottom: 24px;
}

.container {
  position: absolute;
  bottom: 110px;
  left: 60px;
  z-index: 10;
  /* background: white; */
  padding: 20px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  width: 470px;
  background: rgba(55, 61, 68, 0.33);
}

.description {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.26;
  color: var(--white-color);
}
